@model TravelDesk.Models.ApplicationRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApplicationRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForTravelling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonForTravelling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationOfTravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationOfTravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealNeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealNeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document.DocumentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.HotelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment.CommentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
